@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}
#container{
	/* max-width: 1200px; */
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
#header{
	display: block;
	width: 100%;
	position: fixed;
	z-index: 99;
	padding:15px;
	background-color: white;
	border: 0px solid red;
	height: 70px;
	top: 0;
	justify-content: space-between;
	/* visibility: hidden; */
}
#header>div{
	border: 0px solid red;
}
#header>div>div{
	border: 0px solid blue;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
#header .item-left{
	flex:0 0 10%;
}
#header .logo a{
	font-size: 5px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
#header .logo img {
	width: 120px;
}
#header .item-center{
	flex: 5 0 65%;
}
#header .item-right{
	flex:0 0 0%;
	display: flex;
	justify-content: flex-end;
}
#header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
#header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
#header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
#header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
#containerDividerText{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
@media(min-width: 992px){
#header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
#header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
#header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
#header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
#header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
#header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
#header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

#header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
#header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
#header .menu > ul > li .sub-menu > ul > li > a:hover,
#header .item-right a:hover,
#header .menu > ul > li:hover > a{
	color:#ea4636;
}
/* banner section */
#container{
	border: 0px solid red;
  /* background-image: url('../img/banner.jpg'); */
  background-size: cover;
  background-position: center;
  /* height: 7000px; */
  width: 100%;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  margin-top: 6%;
  /* height: 800px; */
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	#container{
		margin-top: 20%;

	}

	#header .item-center{
		order:3;
		flex:0 0 100%;
	}
	#header .item-left,
	#header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	#header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	#header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	#header .mobile-menu-trigger span:before,
	#header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	#header .mobile-menu-trigger span:before{
		top:-6px;
	}
	#header .mobile-menu-trigger span:after{
		top:6px;
	}
	#header .item-right{
		align-items: center;
	}

	#header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	#header .menu.active{
	   transform: translate(0%);	
	}
	#header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	#header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	#header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	#header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	#header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	#header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	#header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	#header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	#header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	#header .menu > ul > li .sub-menu.mega-menu,
	#header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
#header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	#header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	#header .menu > ul > li .sub-menu > ul > li > a,
	#header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	#header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}

/* Search CSS */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

/* body {
	background: #DDD;
	font-size: 15px;
} */
#wrap {
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  height: 10px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 30px;
  font-size: 18px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 50px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 20px;
  width: 30px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  background-size: contain;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

#hr{
	/* border: 1px solid red; */
	display: flex;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: center;
}
#hr>hr{
	height: 1px;
	width: 40%;
	color: black;
	background-color: #000000;
}
#hr>span{
	font-size: 26px;
	font-weight: bold;
}
/* Carousel CSS */

#carouselSection,#carouselSection1 {
	text-align: center;
	/* background-color: #000000; */
  }
  .scroll-arrow {
	width: 10%;
	  display: inline-block;
	  position: relative;
	  vertical-align: middle;
	  cursor: pointer;
	  padding:0;
	  margin:0;
	  opacity: 0.5;
	font-size:34px;
	transition: 0.2s;
  }
  .scroll-arrow:hover {
	transition: 0.2s;
	opacity:1;
  }
	#imgList ,#imgList2,#specialProductsList{
	  width: 70%;
	  scroll-behavior: smooth;
	  display: inline-block;
	  position: relative;
	  vertical-align: middle;
	  text-align: center;
	  overflow-x: scroll;
	  overflow-y: hidden;
	  white-space: nowrap;
	  -webkit-overflow-scrolling: touch;
	}
	  #imgList::-webkit-scrollbar ,#imgList2::-webkit-scrollbar,#specialProductsList::-webkit-scrollbar{
	  display: none;
	}
	#imgCr {
	  list-style: none;
	  display: inline-block;
	  position: relative;
	  vertical-align: middle;
	  /* width: 100%; */
	  height: 100%;
	  margin-left: 1.5%;
	  margin-right: 1.5%;
	  /* filter: grayscale(100%); */
		transition: 0.2s;
	}
	#imgCr>img {
	width: 100%;
  }
	#imgCr:hover {
	  transition: 0.2s;
	  filter: grayscale(0);
	}

	/* carousel2 */
	