
#about_us{
    width: 98%;
    margin: auto;
}
#about_us a{
    text-decoration: none;
    color: black;
}
#about_us>div img{
    width: 100%;
}
#parteners{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 55px;
}

#parteners img{
    width: 120px;
    
}
.text1{
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
}
.text2{
    position: absolute;
    top: 35%;
    left: 18%;
    color: white;
}
#about_us>div:nth-child(2){
    background-color: #f5f5f5;
}
#part2 div{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 25px;
    text-align: center;padding-top: 20px;
    margin-top: 20px;
}
#part3 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0px;
}
#part3{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
#part3 div div{
    display: grid;
}
.vl{
    border-left: 1px solid gray;
    height: 80px;
    margin-bottom: 0px;
    margin-left: 110px;
}
#part4{
    line-height: 15px;
    
}

#part6{
    margin: auto;
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 17px;
}

#part7{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 35px;
    font-size: 17px;
    margin-bottom: 50px;
}
#part6 button,#part7 button{
    width: 315px;
    height: 39px;
    border: 1px solid gray;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 545;
    color: black;
}
#part6 button:hover{
    background-color: black;
    color: white;
}
#part6 a:hover{
    color: white;
}

